.curtain-reveal-scroll {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.curtain-reveal-scroll .curtain-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.curtain-reveal-scroll .curtain {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  transition: transform 0.1s ease-out;
  z-index: 2;
}

.curtain-reveal-scroll .curtain-left {
  left: 0;
}

.curtain-reveal-scroll .curtain-right {
  right: 0;
}
