.image-zoom-scroll {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.image-zoom-scroll-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-zoom-scroll-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.1s ease-out;
  will-change: transform;
}

.image-zoom-scroll-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  pointer-events: none;
  transition: opacity 0.1s ease-out;
}

.image-zoom-scroll-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
  color: white;
  transition: opacity 0.1s ease-out;
}
